
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario de encuesta</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <article class="myform" >
            <h1>Información Recibida</h1>
           
            <table class="Datos">
                <tr>
                    <td>Your name</td>
                    <td>:<%=encuesta.name%></td>
                </tr>
                <tr>
                    <td>Dojo Location</td>
                    <td>:<%=encuesta.dojoLocation%></td>
                </tr>
                <tr>
                    <td>Your name</td>
                    <td>:<%=encuesta.favoriteLenguage%></td>
                </tr>
                <tr>
                    <td>Comment (Optional)</td>
                    <td>:<%=encuesta.comentario%></td>
                </tr>
            </table>
            
            <br>
                <form action="/" method="post">
                    <input type="submit" value="Volver">
                </form>
            <br>
            
    </article>
</body>
</html>