* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px, auto;
}

.myform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border: 5px solid black;
    width: 50%;
}

.linea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.linea2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

.Datos {
    padding: 30px;
    width: 90%;

}

.campo {
    width: 480px;
}